/* ------------------- CSS  RESET----------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------- CUSTOM CODE --------------------------------------- */


/* ----------- General ----------- */

body {
    background: #293241;
    color: white;
    font-family: Yu Gothic, Extrabold, sans-serif;
    line-height: 1.5rem;
    margin: 0 auto;
    
}

footer {
    margin: 0 auto;
    text-align: center;
}

/* ----------- font -----------*/

.external-font {
    font-family: 'Amatic SC', cursive;
}


/* ----------- background ----------- */

.bc {
    height: 100%;
}

/* .bg {
    background: linear-gradient(135deg, #DF6C8F, #405584);
} */

/* ----------- navigation ----------- */
.navigation-desktop,
.navigation-tablet {
    display: none;
}

.navigation-mobile a{
    text-decoration: none;
}





/* -----------------------------------
               Home Page
--------------------------------------*/

/* -------- Homepage Buttons --------*/

/* about button */
.btn-circle1 { 
    
    display: inline-block;
    background-color: #C54860;
    width: 20em;
    height: 20em;

    
    text-decoration: none;
    
    border-radius: 50%;
    box-shadow: 10px 15px 50px 10px #8f2b38;

    
}
#about {
    font-size: 2rem;
    font-weight: 300;
    
}
/* projects button */

.btn-circle2 { 
    
    display: inline-block;
    background-color: #695175;
    width: 18em;
    height: 18em;

    
    text-decoration: none;

    border-radius: 50%;
    box-shadow: 10px 15px 50px 10px #573a64;

    
}
#projects {
    font-size: 2rem;
    font-weight: 300;
}

/* fun button */

.btn-circle3 { 
    
    display: inline-block;
    background-color: #584D7E;
    width: 15em;
    height: 15em;

    
    text-decoration: none;

    border-radius: 50%;
    box-shadow: 10px 15px 50px 10px #43375e;

    
}
#fun {
    font-size: 2rem;
    font-weight: 300;
}

/* contact button */

.btn-circle4 { 
    
    display: inline-block;
    background-color: #784D5D;
    width: 18em;
    height: 18em;

    
    text-decoration: none;

    border-radius: 50%;
    box-shadow: 10px 15px 50px 8px #372d46;

    
}
#contact {
    font-size: 2rem;
    font-weight: 300;
}


/* circular buttons bouncing */

@keyframes bounce1 {
    0%   {transform: translateY(0px);}

    50% {transform: translateY(50px);}

    100% {transform: translateY(0px);}
}

@keyframes bounce2 {
    0%   {transform: translate(0px, -10px);}

    50% {transform: translate(-15px, 40px);}

    100% {transform: translate(0px, -10px);}
}

@keyframes bounce3 {
    0%   {transform: translate(0px, -20px);}

    50% {transform: translate(-10px, -60px);}

    100% {transform: translate(0px, -20px);}
}

#c1 {
    animation: bounce1 4s 0s ease-in-out infinite;
}

#c2 {
    animation: bounce2 5s 0s ease-in-out infinite;
}

#c3 {
    animation: bounce1 6s 1s ease-in-out infinite;
}

#c4 {
    animation: bounce3 6s -1s ease-in-out infinite;
}


/* -----------------------------------
               About Page
--------------------------------------*/



.introduction-portrait {
    width: 70%;
   
}














/* -----------------------------------
            Projects Page
--------------------------------------*/

#project-image {
    
    opacity: 60%;
}

#project-image:hover {
    opacity: 100%;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}







/* -----------------------------------
               Fun Page
--------------------------------------*/


/* gallery */

.gallery {
    display: flex;
}
.column {
    display: block;
    margin-right: 0.5vw;
    width: 100%;
}
.item {
    overflow: hidden;
    position: relative;
    margin-bottom: 0.5vw;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    border-radius: 1%;
}
.img {
    display: block;
    position: relative;
    transition: 0.2s;
    width: 100%;
    height: 100%;
}




/* .slider {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    height: 600px;
    overflow: hidden;
}

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    pointer-events: none;
}

.item {
    height: 100%;
    text-align: center;
    padding: 3rem;
} */


/* move doodles section
#doodles {
    margin-top: 750px;
} */


/* -----------------------------------
               Contact Page
--------------------------------------*/









/* -----------------------------------------------------------
                         Tablet Style
--------------------------------------------------------------*/

@media screen and (min-width: 415px) {

.navigation-mobile {
    display: none;
}

.navigation-tablet {
    display: block;
}






/* -----------------------------------------------------------
                         Desktop Style
--------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
    .navigation-mobile  {
        display: none;
    }
    .navigation-tablet {
        display: none;
    }

    .navigation-desktop {
        display: flex;
        justify-content: space-between;
    }
    
    
    .navigation-desktop a{
        text-decoration: none;
    }
    


}